* {
    margin: 0;
    padding: 0;
}

:root {
    --main-bg-color: #fff;
    --main-txt-color: #d7d7d7d7;
    --main-padding: 15px;
    --main-inputs-bg-color: #ebebeb;
    --main-font: hack;
    --main-dark-color: #040240;
    --main-btn-bg-color: #044BD9;
}

/* Main Document Div */

.main {
    width: 50%;
    height: 80%;
    margin: 5% auto;
    padding: 30px;
    background: var(--main-dark-color);
    color: var(--main-txt-color);
    border-radius: 25px;
}

/* Form heading and title */

.heading {
    padding: 40px;
    text-align: center;
    font-family: hack;
    font-size: 1.1em;
    color: var(--main-txt-color);
}

/* form div */

.survey-form {
    display: flex;
    justify-content: center;
    margin: auto;
}

.formg-group {
    margin: 10px 0;
    text-align: center;
    padding: 10px auto;
}

.form-control {
    display: block;
    width: 100%;
    margin: 10px auto;
    padding: 10px 0 10px 10px;
    border: none;
    border-radius: 10px;
    background: var(--main-inputs-bg-color);
    font-family: var(--main-font);
}

label {
    font-size: 1.2em;
    font-family: var(--main-font);
}

#radio {
    margin: 10px;
}

.radio-div {
    margin: 20px auto;
}
small {
    font-size: 1.1em;
    font-family: var(--main-font);
    color
}
#checkbox {
      font-size: 1.2em;
      font-family: var(--main-font);
      margin: 10px;
}

.checkbox-div {
    margin: 20px auto;
}

option {
    color: var(--main-dark-color);
    background: var(--main-inputs-bg-color);
}

#text-area {
    width: 94%;
    height: 150px;
    border: none;
    border-radius: 10px;
    padding: 20px;
    background: var(--main-inputs-bg-color);
}

#submit {
    width: 50%;
    background: var(--main-btn-bg-color);
    border: none;
    border-radius: 20px;
    font-family: var(--main-font);
    font-weight: 500;
    display: block;
    width: 100%;
    padding: 0.75rem;
    color: inherit;
    border-radius: 2px;
    cursor: pointer;
}

/* #others {
    display: none;
} */
/* div {
    margin: auto;
} */

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

    

}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

    

}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

     .main {
         width: 70%;
     }

}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    .main {
        width: 70%;
    }

}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

    .main {
        width: 80%;
    }

}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

    .main {
        width: 80%;
    }

}